footer {
    background-color: #c09e9e;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin: 0;
    padding-bottom: 10px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin-right: 10px;
}

.footer-content ul li a {
    text-decoration: none;
    color: #333;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}